.main {
	margin: 50px auto;
	width: 1200px;
}

.main-title {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}

.about-us-box {
	position: relative;
	height: 300px;
	margin: 40px 0;
	background-attachment: fixed;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
    overflow: hidden;
}

.top {
	background-image: url("../img/nature.jpg");
    background-position: center;
}

.middle {
	background-image: url("../img/animals.jpg");
    background-position: center;
}

.bottom {
	background-image: url("../img/work.jpg");
    background-position: 50% -50%;
    
}

.about-us-text {
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
}

.about-us-background {
 position: absolute;
 bottom: 0;
 height: 45%;
 width: 100%;
 background-color: rgba(0, 0, 0, .8);   
}

.about-us-subtitle {
    margin-bottom: 10px;
    text-transform: uppercase;
	letter-spacing: 1px;
}

.services-list {
	margin: 0 auto;
	width: 300px;
	list-style-position: inside;
}

.service-item {
	line-height: 2;
}

.prices-table {
	margin: 0 auto;
	border-collapse: collapse;
}

.table-cell {
	padding: 10px 20px;
	text-align: center;
	border: 1px solid #808080;
}

.contact-info {
	text-align: center;
	font-size: 24px;
}

.fa-solid {
	margin-right: 10px;
}